body {
  background: #00BCD4; /* #333; */
  height: 600px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  font-family: Dosis;
}

h1 {
  color: #FFF;
  font-size: 3em;
  text-shadow: 2px 1px 2px #000;
  color: rgba(255, 255, 255, 0.8);
}

.clear {
  padding-right: 50px;
  background: #33ADFF !important;
  margin-left: 10px; 
}

.clear:hover {
  box-shadow: 0 0 0px 0.2em rgba(255, 255, 255, 0.5) inset;  
  color: #FFF;
  cursor: pointer; 
}

.screen {
  height: 35px;
  width: 152px; 
  float: right; 
  padding: 7px 4px 7px 2px;
  margin-right: 10px;
  background-color: #33ADFF;
  box-shadow: 0 0 0px 0.2em rgba(255, 255, 255, 0.5) inset; 
  font-size: 30px;
  line-height: 40px;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: right;
  padding-right: 5px;
}

.calculator {
  margin: 50px 520px 150px 520px !important; /* 80 */
  padding: 10px 0px 10px 0px;
  display: block;
  background: #A3FFFF;
  box-shadow: 0 0 0px 0.3em rgba(255, 255, 255, 0.5) inset;
  border-width: 10%;
}

.keys, .clear {
  transition: 0.2s;
  color: #CCFFFF;
  background: #00E6E6;
  margin: 2px;
  padding: 2px;
  font-size: 2em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #FFF;
}

.keys:hover {
  color: #FFF;
  cursor: pointer; 
  box-shadow: 0 0 0px 0.2em rgba(255, 255, 255, 0.5) inset;
}

.special {
  background: #33ADFF;
}

footer {
  background: #33ADFF; /* #1976D2 */
  height: 80px;
  padding: 5px;
  border: 2px;
  border-radius: 20px;
}

footer p, a {
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  
}

footer ul li {
  margin-left: 10px;
  border: 2px;
  border-radius: 20px;
  border-style: solid;
  border-color: #FFF;
  display: inline;
}
