body {
    background: #80f1ff;
    text-align: center;
    font-family: Dosis;
}

h1 {
    color: #FFF;
    font-size: 3.5em;
    text-shadow: 2px 1px 2px #000;
    color: rgba(255, 255, 255, 0.8);
}

.calculator {
    height: 260px;
    max-width: 240px;
    padding: 10px 0px 10px 0px;
    display: block;
    background: #A3FFFF;
    box-shadow: 0 0 0px 0.3em rgba(255, 255, 255, 0.5) inset;
    border-width: 10%;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    padding-right: 50px;
    margin-left: 10px;
}


.screen {
    height: 35px;
    width: 152px;
    float: right;
    padding: 7px 4px 7px 2px;
    margin-right: 10px;
    background-color: #33ADFF;
    box-shadow: 0 0 0px 0.1em rgba(255, 255, 255, 0.5) inset;
    font-size: 30px;
    line-height: 40px;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    padding-right: 5px;
}

.keys,
.clear {
    transition: 0.2s;
    color: #CCFFFF;
    background: #00E6E6;
    margin: 2px;
    padding: 2px;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #FFF;
}

.keys:hover,
.clear:hover {
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 0 0px 0.2em rgba(255, 255, 255, 0.5) inset;
}

.special, .clear {
    background: #33ADFF;
}

footer {
    background: #33ADFF no-repeat 50% 50%;
    background-size: cover;
    min-height: 100%;  
    max-width: 100%;
    max-height: auto;   
    padding: 5px;
    margin-top: 350px;
    font-size: 1.4em;    
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
}

footer p,
a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

footer ul li {
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color: #FFF;
    display: inline;
    margin: 10px;
}

@media screen and (max-width: 315px) {
    .calculator {
        height: 220px;
        width: 200px;
    }
    
    .keys,
    .clear {
        font-size: 1.5em;
        width: 40px;
        height: 40px;
    }
    
    .screen {
        height: 28px;
        width: 125px;
        box-shadow: 0 0 0px 0.1em rgba(255, 255, 255, 0.5) inset;
    }
    
}

@media screen and (max-width: 600px) {  
    footer { 
        margin-top: 150px;
    }
    
    footer ul li {
        margin: 10px;
        display: block;
        
    }
    
}