.footer {
  background: #0a0c0f;
  border-top: 4px #0083b3 outset;
  flex-shrink: 0;
  font-size: 1.4em;
  margin: 200px auto 0;
  text-align: center;
}

.footer-container {
  flex-shrink: 0;
}

.footer p,
.footer a {
  color: #FFF;
  padding: 0px;
  text-decoration: none;
  margin: 0;
}

.footer .social-list li {
  display: inline;
  margin: 5px;
  text-align: center;
}

.footer .social-list .fa {
  border-radius: 50%;
  border: 2px solid #0083b3;
  color: #FFF;
  font-size: 1.3em;
  height: 40px;
  line-height: 1.4;
  margin: 5px;
  padding: 8px;
  text-align: center;
  transition: 0.5s;
  width: 40px;
}

.footer .social-list .fa:hover {
  color: #0083b3;
}

.footer .bottom-note {
  padding-bottom: 10px;
}

.footer .bottom-note .fa {
  color: #0083b3;
}

@media screen and (max-width: 850px) {
  .footer {
    margin-top: 150px;
  }

  .footer .social-list .fa {
    display: inline-block;
    font-size: 1.0em;
    height: 25px;
    line-height: 1.2;
    margin: 2px;
    padding: 8px;
    width: 25px;
  }
}
