.footer {
  background-size: cover;
  background: #33ADFF no-repeat 50% 50%;
  border-top: 8px #4dd2ff outset;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: 1.4em;
  margin: 200px auto 0;
  min-width: 100%;
  padding: 0 5px;
  position: relative;
  text-align: center;
}

.footer-container {
  flex-shrink: 0;
}

.footer p,
.footer a {
  color: #FFF;
  padding: 0px;
  text-decoration: none;
  margin: 0;
}

.footer .social-list li {
  display: inline;
  margin: 5px;
  text-align: center;
}

.footer .social-list .fa {
  border-radius: 50%;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.3em;
  height: 40px;
  line-height: 1.4;
  margin: 5px;
  padding: 8px;
  text-align: center;
  width: 40px;
}

.footer .social-list .fa:hover {
  transition: 0.3s;
  text-shadow: 2px 1px 2px #333;
}

.footer .contact .fa:hover {
  background-color: #e6b800;
}

.footer .linkedin .fa:hover {
  background-color: #117BB7;
}

.footer .github .fa:hover {
  background-color: #24478f;
}

.footer .twitter .fa:hover {
  background-color: #007acc;
}

.footer .codepen .fa:hover {
  background-color: #ff6600;
}

.footer .freecodecamp .fa:hover {
  background-color: #009933;
}

.footer .footer-note .fa {
  color: #ffff66;
}
