html {
  height: 100%;
}

body {
  background: #1f242d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Dosis';
  height: 100vh;
  margin: auto;
  padding: 0;
  width: 100%;
}
