html {
  height: 100%;
}

body {
  background: #1f242d;
  box-sizing: border-box;
  font-family: 'Dosis';
  margin: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  width: 100%;
}

.header-container,
.calculator-container {
  flex: 1 0 auto;
}
